h1{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  font-family:Helvetica;
  color: khaki;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg)
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h5{
  color: blue;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 14px;
}

.brushes{
  background-color: mediumspringgreen;
}

.frames{
  background-color: lightcoral;
}

.paint{
  background-color: skyblue;
}
